#tree{
    position: absolute;
    left: 60%;
    top: 10%;
    width: 30%;
    height: 30%;
}

#text{
    position: absolute;
    left: 10%;
    top: 10%;
    width: 35%;
    height: 30%;
}

#button{
    position: absolute;
    left: 10%;
    top: 50%;
    width: 35%;
    height: 5%;;
}

#menu_head{
    position: absolute;
    left: 50%;
    top: 10%;
    width: 5%;
    height: 2%;
    //border: red solid 3px;
}

#menu{
    position: absolute;
    margin-top: 10px;
    left: 50%;
    top: 12%;
    width: 5%;
    height: 30%;
    //border: aqua solid 3px;
}

#menu_name{
    margin-top: 10px;
}

#teacher_area{
    //margin-top: 10px;
}

#type{
    margin: 5px;
    position: relative;
    left: 10px;
}

#student{
    margin: 5px;
    position: relative;
    left: 20px;
}

#skill{
    margin: 5px;
    position: relative;
    left: 30px;
}
